Character(
    name: "Test",
    sprite_sheet: "sprites/full.png",
    hurtbox: ( x: 0., y: 0., length: 10., height: 10. ),
    idle: (
        fps: 20,
        indexes: [0, 1]
    ),
    forward: (
        fps: 30,
        indexes: [0, 1]
    ),
    backward: (
        fps: 30,
        indexes: [0, 1]
    ),
    moveset: (
        light: (
            damage: 80,
            hit_stun_frames: 6,
            hitbox: ( x: 30., y: 10., length: 60., height: 50. ),
            animation: (
                fps: 5,
                indexes: [4, 5, 5, 6, 6, 6, 6],
                options: Some((
                    startup_frames: 1,
                    active_frames: 2,
                    recovery_frames: 4,
                    )
                )
            ),
            //movement
            //spawn
        ),
        heavy: (
            damage: 80,
            hit_stun_frames: 6,
            hitbox: ( x: 30., y: 10., length: 60., height: 50. ),
            animation: (
                fps: 10,
                indexes: [3, 4, 5, 5, 6, 6, 6, 6],
                options: Some((
                    startup_frames: 2,
                    active_frames: 2,
                    recovery_frames: 4,
                    )
                )
            ),
            //movement
            //spawn
        )
    )
)
