Character(
    name: "Test",
    health: 1000,
    speed: 5.,
    sprite_sheet: "sprites/full.png",
    hurtbox: ( x: -30., y: 0., length: 110., height: 230. ),
    idle: (
        fps: 20,
        indexes: [0, 1]
    ),
    forward: (
        fps: 30,
        indexes: [0, 1]
    ),
    backward: (
        fps: 30,
        indexes: [0, 1]
    ),
    jump: (
        fps: 30,
        indexes: [0, 1]
    ),
    block: (
        fps: 30,
        indexes: [0, 0]
    ),
    moveset: (
        light: (
            damage: 80,
            hit_stun_frames: 6,
            hitbox: ( x: 10., y: 10., length: 80., height: 50. ),
            animation: (
                fps: 5,
                indexes: [4
                         ,5
                         ,5, 6, 6
                         ],
                options: Some((
                    startup_frames: 1,
                    active_frames: 2,
                    recovery_frames: 2,
                    )
                )
            ),
            //movement
            //spawn
        ),
        heavy: (
            damage: 80,
            hit_stun_frames: 6,
            hitbox: ( x: 30., y: 10., length: 60., height: 50. ),
            animation: (
                fps: 5,
                indexes: [4, 4, 4, 4
                         ,4, 5
                         ,6, 6, 6, 6
                         ],
                options: Some((
                    startup_frames: 4,
                    active_frames: 2,
                    recovery_frames: 4,
                    )
                )
            ),
            //movement
            //spawn
        )
    )
)
